.login{
    width: 100vw;
    height: 100vh;
    position: relative;
}
.login-card{
    width: 400px;
    height: 270px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.input{
    width: 80%;
    margin: 5px 0;
}
.column-card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 150px;
}
.btn{
    width: 80px;
}
.tips{
    font-size: 14px;
    color: #0997F7;
    text-align: right;
    width: 80%;
    padding: 5px 0;
}