.video-list{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 60px;
}
.video-list-item{
    width: 30%;
    height: 500px;
}
.cover{
    width: 100%;
    height: 300px;
}